.wrapper{
    min-height: 50vh;
    background: url("../../../assets/4.jpeg") no-repeat center fixed;
    background-size: cover;
}

#contentOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#line{
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(255, 255, 255, 0.8)
}

#line2{
    color: rgba(223, 223, 223, 0.8);
    font-size: 20px;
}

/* Content One */
#contentTwo{
    min-height: 50vh;
}

#ourContact{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contactTitle{
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#contactContent{
    letter-spacing: 2px;
    font-size: 14px;
    color: gray;
    width: 60%;
    line-height: 25px;
}

#contact{
    display: flex;
    flex-wrap: wrap;
}

#title{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
}

#content{
    color: gray;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 200;
}

#contact .col{
    margin-top: 10px;
}

/* Content Three */
#contentThree{
    min-height: 50vh;
    background-color: whitesmoke;
}

#contentThree form{
    width: 50%;
}

#comment{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(40, 40, 40);
}

#contantDetails{
    display: flex;
    justify-content:space-evenly;
}

.button{
    padding: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s all;
    text-decoration: none;
}

#send{
    background-color: rgb(40, 40, 40);
    color: white;
}

#send:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}


@media screen and (max-width:768px){
    #contentThree form{
        width: 100%;
    }
}