<div class="wrapper">
    <app-header></app-header>
    <div class="container" id="contentOne">
        <p id="line"> About Us</p>
        <p id="line2"> Experienced and Friendly </p>
    </div>
</div>
<div class="container-fluid pl-5 pr-5" id="contentTwo">
    <div class="col">
        <p class="conceptsTitle"> Ergonomic Designs </p>
        <p class="conceptsContent">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Cu sociis natoque penatibus et magnis.</p>
        <a type="button" id="readMore"> Read More </a>
    </div>
    <div class="col">
        <p class="conceptsTitle"> Facade Patterns </p>
        <p class="conceptsContent">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Cu sociis natoque penatibus et magnis.</p>
        <a type="button" id="readMore"> Read More </a>
    </div>
    <div class="col">
        <p class="conceptsTitle"> Modular Concepts </p>
        <p class="conceptsContent">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
            dolor. Aenean massa. Cu sociis natoque penatibus et magnis.</p>
        <a type="button" id="readMore"> Read More </a>
    </div>
</div>
<div class="container-fluid" id="contentThree">
    <div class="col" id="awards">
        <div><i class='bx bx-award'></i><span class="conceptsContent">  Lorem ipsum dolor sit amet, consectetur adipiscing el, sed do eiusmod tempor incididunt ut labore et dolore.</span></div>
        <div><i class='bx bx-award'></i><span class="conceptsContent">Lorem ipsum dolor sit amet, consectetur adipiscing el, sed do eiusmod tempor incididunt ut labore et dolore.</span></div>
        <div><i class='bx bx-award'></i><span class="conceptsContent"> Lorem ipsum dolor sit amet, consectetur adipiscing el, sed do eiusmod tempor incididunt ut labore et dolore.</span></div>
    </div>

    <div class="col">
        <img src="../../../assets/6.jpg" class="image2">

    </div>
</div>

<div class="container-fluid" id="contentFour">
    <div class="container" id="amazing">
        <p> Our Team </p>
    </div>
    <div>
        asddas
    </div>

</div>
<app-footer></app-footer>