<div class="wrapper">
    <app-header></app-header>
    <div class="container" id="contenOne">
        <p id="line">Minimalist Designs</p>
        <p id="line2"> Mirros Designs are carefully designed with finest quality of leather</p>
        <a class="button shadow" type="button" id="purchaseNow"> Purchase Now </a>
    </div>
</div>
<div class="container-fluid pl-5 pr-5" id="contentTwo">
    <div class="col p-2">
        <p id="conceptsTitle"> Our Concepts </p>
        <p id="conceptsContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a class="button" type="button" id="checkOut"> Check Out </a>
    </div>
    <img src="assets/2.jpeg" class="image">

    <img src="assets/3.jpeg" class="image">

    <img src="assets/4.jpeg" class="image">
</div>

<div class="container-fluid" id="contentThree">
    <div class="col pt-5 pb-5">
        <img src="assets/5.jpg" class="image2">
    </div>
    <div class="col pb-5">
        <p id="conceptsTitle"> Mirros gives you everything you need to create an amazing designs. </p>
        <p id="conceptsContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
        <p id="conceptsContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    </div>
</div>
<app-footer></app-footer>   