<div class="wrapper">
    <div class="container">
        <div class="col">
            <p id="logo"> Mirros </p>
            <img src="../../../assets/2.jpeg" height="100px" width="100px" class="rounded-circle">
        </div>

        <div class="col">
            <p id="social">Connect</p>
            <ul class="social-links d-flex justify-content-center">
                <li class="nav-link" id="google"><i class='bx bxl-google' id="icon"></i></li>
                <li class="nav-link" id="facebook"><i class='bx bxl-facebook' id="icon"></i></li>
                <li class="nav-link" id="instagram"><i class='bx bxl-instagram' id="icon"></i></li>
            </ul>
        </div>
        <div class="col">
            <p id="menu">Menu</p>
            <ul class="menu-links">
                <li class="nav-link" id="home"><a type="button">Home</a></li>
                <li class="nav-link" id="designs"><a type="button">Designs</a></li>
                <li class="nav-link" id="about"><a type="button">About Us</a></li>
                <li class="nav-link" id="contact"><a type="button">Contact</a></li>
            </ul>
        </div>

    </div>
</div>